doctype html
html(lang="en")
	head
		title 项目构建实践
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="sass/application.css")
	body
		h1 使用Jade模板引擎
		#container.col
			p 使用Sass、Coffee、Grunt
		script(src="coffee/application.js")